<a href="https://colab.research.google.com/github/aviraltyagi/SupervisedMachineLearningModel/blob/main/Regression/KNN_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '/content'

!kaggle datasets download -d mirichoi0218/insurance

!unzip \*.zip && rm *.zip

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /content/kaggle.json'
Downloading insurance.zip to /content
  0% 0.00/16.0k [00:00<?, ?B/s]
100% 16.0k/16.0k [00:00<00:00, 2.13MB/s]
Archive:  insurance.zip
  inflating: insurance.csv

In [2]:
import pandas as pd

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

In [30]:
filePath = "/content/insurance.csv"
df = pd.read_csv(filePath)
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [31]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [32]:
encoder = OneHotEncoder(drop= 'first')
df[['sex', 'smoker']] = pd.DataFrame(
                            encoder.fit_transform(df[['sex', 'smoker']]).toarray(),
                            index = df.index,
                            columns = ['sex', 'smoker']).astype('category')

In [33]:
df.head()

   age  sex     bmi  children smoker     region      charges
0   19  0.0  27.900         0    1.0  southwest  16884.92400
1   18  1.0  33.770         1    0.0  southeast   1725.55230
2   28  1.0  33.000         3    0.0  southeast   4449.46200
3   33  1.0  22.705         0    0.0  northwest  21984.47061
4   32  1.0  28.880         0    0.0  northwest   3866.85520

In [34]:
x = df.drop(['region', 'charges'], axis= 1)

y = df['charges']

In [35]:
std_scaler = StandardScaler()
x = std_scaler.fit_transform(x)

In [36]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.3, random_state= 0)

### K-Nearest Neighbour

In [37]:
from sklearn.neighbors import KNeighborsRegressor

In [38]:
knn_reg = KNeighborsRegressor()
knn_reg.fit(x_train, y_train)
knn_score = knn_reg.score(x_test, y_test)
print(f"Test Accuracy K-Nearest Neighbour Regression: {knn_score}")

Test Accuracy K-Nearest Neighbour Regression: 0.8483150302117327